body {
    border: 960px;
    background-color: teal;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.btn 
     border-radius: 0px;
    }


a:link {
    background-color: blueviolet;
    color: red;
}

.nav-item {
    color:palevioletred;
}


.fixed-bottom {
    background-color: teal;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}








/*Index CSS*/






